body{
    font-family: 'Ysabeau Infant', sans-serif;
}
.navbar {
    background-color: rgb(245, 245, 245);
    height: 60px;
}

.titnavv:hover,
.nav-link:hover,
.itemsfooter:hover,
.dropdown-item:hover {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.imgred1,
.imgred2,
.imgred3 {
    transition: 0.3s;
}

.imgred1:hover {
    text-decoration: none;
    color: black;
    width: 65px;
    margin-right: 115px;
}

.imgred2:hover,
.imgred3:hover {
    text-decoration: none;
    color: black;
    width: 60px;
}

.dropdown-item {
    margin-right: 20px;
    transition: font-size 0.5s;
}

.nav-link {
    margin-left: 20px;
    transition: font-size 0.5s;
    font-family: 'Ysabeau Infant', sans-serif;

}

.titnav {
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-left: 150px;
    font-family: 'Ysabeau Infant', sans-serif;

}

.itemsnav li {
    padding: 5px;
    font-size: 20px;
    margin-left: 40px;
}

.itemsnav a,
.divfooter a {
    color: rgba(194, 142, 143, 255);

}

.divfooter {
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-family: 'Ysabeau Infant', sans-serif;

}

.divfooter a {
    font-size: 20px;
    margin-top: 35px;
}

.imglogoprin {
    margin-top: 15px;
    height: 60px;
    margin-left: 10px;
}

.itemsfooter {
    
    margin-left: 65px;
    transition: font-size 0.5s;
}

.imgred1,
.imgred2,
.imgred3 {
    width: 40px;
    margin-top: 20px;
    float: right;
}

.imgred1 {
    margin-right: 120px;
}

.gallery-container {
    position: relative;
    overflow: hidden;
    width: 100%; 
    max-width: 100%; 
}

.gallery {
    display: flex;
    transition: transform 1.5s ease-in-out;
    width: 100%; /* Fija el ancho al 100% del contenedor .gallery-container */
    max-width: none; /* Elimina el ancho máximo para que se ajuste automáticamente */
    height: auto;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.gallery-item {
    flex: 0 0 auto;
    opacity: 0;
}


.prev-button,
.next-button {
    position: absolute;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(194, 142, 143, 255);
    border: 1px;
    width: 60px;
    border-radius: 40px;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.userlogo {
    width: 40px;
}

.dpdow {
    color: black;
    margin: 10px;
    font-family: 'Ysabeau Infant', sans-serif;

}
.dropdown-menu.show {
    display: block;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: bisque;
}

.dropdown-menu.show a:hover {
    color: blue;
}

.OPCMOV {
    display: none;
}

.OPCMOV .dpdow {
    font-size: 25px;
}

.imgnosotros {
    width: 100%;
}


@media (max-width: 768px) {
    .titnav {
        font-size: 30px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .itemsnav li {
        font-size: 10px;
    }

    .userlogo {
        width: 30px;
    }

    .dpdow {
        margin: 5px;
    }

    .navbar {
        height: 90px;
    }

    .gallery img {
        max-width: 100%;
        height: 220px;
    }

    .prev-button,
    .next-button {
        width: 25px;
        border-radius: 40px;
        font-size: 15px;
        padding: 10px;
    }

    .OPCPC {
        display: none;
    }

    .OPCMOV {
        display: block;
    }

    .nav-link:hover {
        font-size: 25px;
    }

    .divfooter {
        position: relative;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }

    .divfooter a {
        font-size: 18px;
        display: block;
        align-items: center;
    }

    .itemsfooter {
        justify-content: center;
        text-align: center;
        text-align: center;
        margin-left: 0px;
        margin-top: 20px;
    }

    .redesfooter {
        text-align: center;
        margin: 20 px auto;
    }

    .imglogoprin {
        margin: auto;
        width: 180px;
        height: auto;
    }

    .imgred1 {
        margin-right: none;
    }

    .imgred1,
    .imgred3,
    .imgred2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}